# Python compiled files
*.py[co]

# Packages
*.egg
*.egg-info

# Ignore all directories/files created by virtualenv
bin
build
include
lib
.Python

# Installer logs
pip-log.txt

# Ignore documentation builds
docs/_build

# Ignore evil mac files
.DS_Store

# Ignore local databases
*.db3
*.db
*.sqlite

# Ignore local uploads
uploads/

# Ignore local settings file
settings.py