{% extends "base.html" %}

{% block typekit %}{% endblock typekit %}
{% block css %}{% endblock css %}

{% block body %}
<header>
    <h1>DjangoCon Europe</h1>
</header>

<section>
    <h2>Talk submission</h2>
    <p>
        Because Djangocon.eu is a community conference, we want to
	hear from <i>you</i> about the cool new extension to Django
	you created, the best way to deploy a Django website, how to
	make apps that are reusable, etc. We're looking for proposals
	on every aspect of Django. You can assume that all attendees
	have a basic level of understanding of Django and will
	understand an in-depth talk.
    </p>

    <p>
        From past experience we know that not every talk needs the
	same amount of time, so we're going to create timeslots of
	different sizes. Please try to estimate how many minutes you
	can talk about your subject without anyone falling asleep. Of
	course we can't give any guarantees about the size of the
	timeslot we will be able to allocate for your talk.
    </p>

    <p>
        As a community conference we try to keep the price as low as
        possible and that means we don't have budget to compensate for
        travel, hotel, etc. or give away a free ticket for every
        presentation.
    </p>

    <h3>Deadlines</h3>
    <p>
	Talk submission will close on 15 April 2011. Notifications of
	acceptance or rejection will be sent before 1 May 2011.
    </p>

    <h3>Contact</h3>
    <p>
        If you have any further questions or you know someone who can
        give good presentations about django-related subjects, don't
        hestitate to contact us at speakers@djangocon.eu.
    </p>
</section>

<section>
    <h2>Submission form</h2>
    <p>
        If you want to give a talk at Djangocon.eu 2011, please fill
        in the form below. Keep in mind that we have to use the
        information you provide to decide whether to accept your
        proposal or not, so try to explain your proposal as good as
        possible.
    </p>
    <form id="submission" action="." method="post" accept-charset="utf-8">
        <table>
            {{ submission_form.as_table}}
        </table>

        <input id="submit" type="submit" value="send" />
    </form>
</section>
{% endblock body %}
