{% extends 'standard_layout.html' %}
{% load talk_tags %}

{% block subtitle %} &mdash; Submit A Lightning Talk{% endblock subtitle %}

{% block extra_content %}id="lightningtalk_submit"{% endblock extra_content %}

{% block content %}
<header>
    <h1>Lightning Talk Submission</h1>
</header>

<section id="talk_form" class="subsection">
    <header>
        <h1>Propose a Lightning Talk</h1>
        <p>
            The talk submission deadline for regular talks was April 15<sup>th</sup>.
            If you missed the boat, we would love to see you do a lightning talk.
        </p>
    </header>
    <form action="#lightningtalk_form" class="subsection_body" method="POST" accept-charset="utf-8" id="form-lightningtalk-submit">
        <h1>Lightning Talk Proposal</h1>
        <p>
            Lightning talks are:
            <ul>
                <li>Strict 5 minute presentations</li>
                <li>Given at the end of the day</li>
                <li>Presentations that don't necessarily fit in the main schedule</li>
            </ul>
        </p>
        <p>
            If you submit a lightning talk you will be invited by the lightning talk host of the day
            to do a presentation. People will be invited based on the order of who submitted
            first.
        </p>

        {% for field in lightningtalk_form %}
        <div class="formrow {% if field.errors %}error{% endif %}">
            {% if field.field.required %}
            <div class="required">{{ field.label_tag }} <em>required</em></div>
            {% else %}
                {{ field.label_tag }}
            {% endif %}
            {{ field.errors }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text }}</p>
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">OK, Submit this lightning talk!</button>
    </form>

</section>
            {% if message %}
            <p id="talks_message">{{ message }}</p>
            {% endif %}

{% endblock content %}
