{% extends 'standard_layout.html' %}
{% load talk_tags %}

{% block subtitle %} &mdash; {{talk.title}}{% endblock subtitle %}

{% block extra_content %}id="talk"{% endblock extra_content %}

{% block content %}
<header>
    <h1>{{talk.title}}</h1>
</header>
<section id="talkdetails" class="subsection">
    <header>
        {% with talk.slot_set.get as d %}
        <h1>{{ d.day.date|date:'l, F j'}}<sup>{{ d.day.date|date:'S'}}</sup></h1>
        <h2>{{ d.starttime|time:"H:i" }}&ndash;{{ d.endtime|time:"H:i" }}</h2>
        {% endwith %}
    </header>

    <section class="subsection_body">
        <h1>Abstract</h1>
        <p>
	    {{ talk.abstract|safe }}
        </p>
    </section>

</section>

{% for speaker in talk.speakers.all %}
<section id="about_speaker" class="subsection">
    <header>
        <p>&nbsp;</p>
    </header>
    <section class="subsection_body">
        <h1>About {{ speaker.name }}</h1>
        <p>
	    {{ speaker.biography|safe }}
        </p>
        <table class="speakerlinks">
            {% if speaker.organisation %}
            <tr>
                <th>Organisation/company</th>
                <td>{{ speaker.organisation }}</td>
            </tr>
            {% endif %}
            {% if speaker.website %}
            <tr>
                <th>Website</th>
                <td><a href="{{speaker.website}}">{{ speaker.website }}</a></td>
            </tr>
            {% endif %}
            {% if speaker.twitter %}
            <tr>
                <th>Twitter</th>
                <td><a href="https://twitter.com/{{speaker.twitter}}">{{ speaker.twitter }}</a></td>
            </tr>
            {% endif %}
            {% if speaker.linkedin %}
            <tr>
                <th>LinkedIn</th>
                <td><a href="https://www.linkedin.com/in/{{speaker.linkedin}}">{{ speaker.linkedin }}</a></td>
            </tr>
            {% endif %}
            {% if speaker.github %}
            <tr>
                <th>Github</th>
                <td><a href="https://github.com/{{speaker.github}}">{{ speaker.github }}</a></td>
            </tr>
            {% endif %}
            {% if speaker.bitbucket %}
            <tr>
                <th>Bitbucket</th>
                <td><a href="https://bitbucket.org/{{speaker.bitbucket}}">{{ speaker.bitbucket }}</a></td>
            </tr>
            {% endif %}
        </table>

    </section>
</section>
{% endfor %}
{% endblock content %}
