{% extends 'standard_layout.html' %}
{% load talk_tags %}

{% block subtitle %} &mdash; Talk submission received{% endblock subtitle %}

{% block extra_content %}id="talk_thankyou"{% endblock extra_content %}

{% block content %}
<header>
    <h1>Lightning Talk Submitted</h1>
</header>
<section id="talk_whatsnext" class="subsection">
    <header>
        <h1>What's next?</h1>
        <ol>
            <li>Submit a talk.</li>
            <li>? ? ?</li>
            <li>Profit!</li>
        </ol>
    </header>
    <section class="subsection_body">
        <h1>How exciting!</h1>
        <p>
            We're terribly happy that you want to give a lightning talk at DjangoCon Europe.
        </p>
        <p>Feel free to <a href="{% url talks:submit %}">submit more lightning talk proposals</a>, if you like.</p>
    </section>
</section>
{% endblock content %}
