
{% extends 'standard_layout.html' %}

{% block subtitle %} &mdash; Schedule{% endblock subtitle %}

{% block extra_content %}id="schedule"{% endblock extra_content %}

{% block content %}
<header>
    <h1>Conference Schedule</h1>
    <p class="schedule_ical"><a href="/schedule/ical">&rArr; Download Schedule (iCal)</a></p>
</header>

{% for slot in slots %}
{% ifchanged slot.day.date %}
{% if not forloop.first %}
    </table>
</section>
{% endif %}
<section id="schedule_{{ slot.day.date|date:'D' }}" class="schedule_day">
    <header>
        {% with slot.day.date as d %}
            <h1>{{ d|date:'l, F j'}}<sup>{{ d|date:'S'}}</sup></h1>            
        {% endwith %}
    </header>
    <table>
{% endifchanged %}
        <tr>
            <th>{{ slot.starttime|time:"H:i" }}&ndash;{{ slot.endtime|time:"H:i" }}</th>
            <td>
{% if slot.talk.speakers.all.0.name == "break" %}
                {{ slot.talk.title }}
{% else %}
                <a href="{{ slot.talk.get_absolute_url }}">{{ slot.talk.title }}</a>
                <p class="speakers">{{slot.talk.speakers.all|join:", "}}</p>
{% endif %}
            </td>
        </tr>
{% endfor %}
    </table>
</section>
{% endblock content %}
