{% extends 'standard_layout.html' %}

{% block subtitle %} &mdash; Schedule{% endblock subtitle %}

{% block extra_content %}id="schedule"{% endblock extra_content %}

{% block content %}
<header>
    <h1>Conference Schedule</h1>
    <p><a href="/schedule/ical">ical</a></p>
</header>

{% for slot in slots %}
{% ifchanged slot.day.date %}
{% if not forloop.first %}
        </table>
    </section>
</section>
{% endif %}
<section id="schedule_{{ slot.day.date|date:'D' }}" class="subsection">
    <header>
        {% with slot.day.date as d %}
            <h1>{{ d|date:'l, F j'}}<sup>{{ d|date:'S'}}</sup></h1>
            
        {% endwith %}
    </header>
    <section class="subsection_body">
        <table>
{% endifchanged %}
            <tr>
                <th>{{ slot.starttime|time:"H:i" }} - {{ slot.endtime|time:"H:i" }}</th>
                <td>
                    <a href="{{ slot.talk.get_absolute_url }}">{{ slot.talk.title }}</a><br>
                    {{slot.talk.speakers.all|join:", "}}
                </td>
            </tr>
{% endfor %}
        </table>
    </section>
</section>


{% endblock content %}
