{% extends "standard_layout.html" %}

{% block subtitle %} &mdash; Home{% endblock subtitle %}

{% block extra_content %}id="home"{% endblock extra_content %}


{% block content %}


<section id="home_where">
    <h1>Where</h1>
</section>

<section id="home_tickets">

</section>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.nl/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=201031125106460952811.00049e95db8eecc0fb55f&amp;ll=52.375835,4.907498&amp;spn=0.019728,0.055747&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.nl/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=201031125106460952811.00049e95db8eecc0fb55f&amp;ll=52.375835,4.907498&amp;spn=0.019728,0.055747&amp;source=embed" style="color:#0000FF;text-align:left">DjangoCon Europe 2011</a> in a larger map</small>


<section id="conference" class="subsection">
    <header>
        <h1>Conference</h1>
        <p><em>The</em> European conference on the Django framework.</p>
    </header>

    <section id="welcome" class="subsection_body">
        <h1>Welcome</h1>

        <p>
            This year the European Django community would like to welcome you all
            in the city of Amsterdam, the Netherlands.
        </p>
        <p>
            Amsterdam has been known throughout history as a city of
            open mindedness, tolerance and trade. And we hope we can show this
            by organizing <em>a fabulous DjangoCon in the very heart of the city!</em>
        </p>

        <h1>Focus: Advanced topics</h1>
        <p>
            Amsterdam will be the successor of two amazing editions held
            earlier: <em>2009 in Prague</em> and <em>2010 in Berlin</em>.
        </p>
        <p>
            Over the years the Django framework has shown a definate growth
            to becoming a mature framework with a wealthy ecosystem of
            plugins and applications developed by many talented developers, like you.
        </p>
        <p>
            We want to honour this by organising a conference that focusses
            on advanced topics.
        </p>
    </section>
</section>
<section id="organizer" class="subsection">
    <header>
        <h1>Organizer</h1>
        <p>Your proud host</p>
    </header>

    <section id="association" class="subsection_body">
        <h1>Dutch Django Association</h1>
        <p>
            DjangoCon is organized by the non-profit Dutch Django Assocation.
            See <a href="{% url core:about %}">about</a> for more info.
        </p>
    </section>
</section>

<section id="area" class="subsection">
    <header>
        <h1>Area</h1>
        <p>The old eastern docks and trade area</p>
    </header>

    <section id="area_description" class="subsection_body">
        <h1>General conference area</h1>
        <p>
            DjangoCon will be held in the area
            {# TODO: Add map #}
        </p>
    </section>
</section>


<section id="last" class="subsection">
    <header>
        <h1>Last</h1>
        <p>But not least..</p>
    </header>
    <section id="area_description" class="subsection_body">
        <h1>Ticket and hotels</h1>
        <p>
            For your booking pleasure, both <a href="{% url core:tickets %}">ticket sales</a>
            <em>and</em> <a href="{% url accommodation:reserve %}">hotel reservations</a> are
            anxiously awaiting your undivided attention.
        </p>
    </section>
</section>

{% endblock content %}
