{% extends "standard_layout.html" %}

{% block subtitle %} &mdash; Home{% endblock subtitle %}

{% block extra_content %}id="home"{% endblock extra_content %}


{% block content %}

<nav id="cta_tickets">
    <span class="star">&#9733;</span> <a href="{% url blog:blog %}">DjangoCon 2011 is Over!</a> <span class="star">&#9733;</span>
</nav>

<section class="homesection" id="next_year">
    <h1>Next Year</h1>
    <div class="homesection_body">
        <p>
            DjangoCon Europe 2011 was a wild success, with over 200 attendees,
            <a href="http://blip.tv/djangocon-europe-2011">lots of great talks</a>, and extremely active sprints.
        </p>
        <p>DjangoCon Europe will be held next year in Zurich, and is being organized
        by the fine folks at <a href="http://www.divio.ch/">Divio</a>.
    </div>
</section>

<section class="homesection" id="welcome">
    <h1>Welcome</h1>
    <div class="homesection_body">
        <p>
            The European Django community would like to welcome you to the city of
            Amsterdam for DjangoCon Europe 2011.
        </p>
        <p>
            Throughout history, Amsterdam has been known for its open-mindedness,
            tolerance, and trade. We're proud to host the conference this year, and
            we've been working hard to make this conference <em>even better</em> than the
            stellar successes of Prague and Berlin.
        </p>
    </div>
</section>

<section class="homesection" id="topics">
    <h1>Theme</h1>
    <div class="homesection_body">
        <p>
            Django has matured into a framework with a wealth of applications and
            techniques created by talented developers like you. The focus of this
            year’s conference will be on sharing these advanced tools and
            techniques.
        </p>
    </div>
</section>
<section class="homesection" id="home_blog">
    <h1>Latest News</h1>
    <div class="homesection_body">
        <p class="post">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
        <p class="meta">Posted by {{ post.author.get_full_name }} on {{ post.publish_date|date:'M j' }}<sup>{{ post.publish_date|date:'S' }}</sup> &bull; <a href="{% url blog:blog %}">More posts…</a></p>
    </div>
</section>
<section id="home_venue">
    <h1>Conference Venue <strong>&#9733;</strong> <a href="{% url core:venues %}#conference_venue">Pakhuis de Zwijger</a></h1>
    <h1>Sprints Venue <strong>&#9733;</strong> <a href="{% url core:venues %}#sprint_venue">De Waag</a></h1>
    <div id="venue_photos">
        <img src="{{ STATIC_URL }}img/venues/pakhuis-de-zwijger-front_sm.jpg" alt="Pakhuis de Zwijger from the outside" width="200"/>
        <img src="{{ STATIC_URL }}img/venues/pakhuis-de-zwijger-inside_sm.jpg" alt="Pakhuis de Zwijger on the inside" width="200"/>
        <img src="{{ STATIC_URL }}img/venues/de-waag-front_sm.jpg" alt="de Waag from the outside" width="200"/>
        <img src="{{ STATIC_URL }}img/venues/de-waag-inside_sm.jpg" alt="de Waag on the inside" width="200"/>
    </div>
    <iframe width="884" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.nl/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=201031125106460952811.00049e95db8eecc0fb55f&amp;ll=52.375835,4.907498&amp;spn=0.019728,0.055747&amp;output=embed"></iframe>
</section>
{% endblock content %}
