{% extends "standard_layout.html" %}

{% block subtitle %} &mdash; Home{% endblock subtitle %}

{% block extra_content %}id="home"{% endblock extra_content %}

{% block content %}

<header>
    <h1>DjangoCon Europe 2011</h1>
</header>

<section id="conference" class="subsection">
    <header>
        <h1>Conference</h1>
        <p><em>The</em> European conference on the Django framework.</p>
    </header>

    <section id="welcome" class="subsection_body">
        <h1>Welcome</h1>

        <p>
            This year the European Django community would like to welcome you all
            in the city of Amsterdam, the Netherlands.
        </p>
        <p>
            Amsterdam has been known throughout history as a city of
            open mindedness, tolerance and trade. And we hope we can show this
            by organising a fabulous DjangoCon in the very heart of the city.
        </p>
    </section>
</section>

{% endblock content %}
