{% extends "standard_layout.html" %}

{% block subtitle %} &mdash; Sponsoring{% endblock subtitle %}

{% block extra_content %}id="sponsoring"{% endblock extra_content %}

{% block content %}

<header>
    <h1>Sponsors</h1>
</header>

<section id="sponsoring" class="subsection">
    <header>
        <h1>We want you!</h1>
        <p>And the people you know</p>
    </header>

    <section id="open_letter" class="subsection_body">
        <h1>Great conferences don't come cheap</h1>

        <p>
            A community conference like this relies on corporate sponsors for
            financial support in order to produce a truly great event.
        </p>
        <p>
            We’ve penned an open letter to potential sponsors below.If you work
            at (or know of) a company that is using Django or wants to reach
            out to the greater Django community, we need your help!  Get this
            letter in front of the person responsible within your company for
            sponsoring and have him or her get in touch with us through e-mail:
            <a href="emailto:sponsors@djangocon.eu">sponsors@djangocon.eu</a>.
        </p>
    </section>
</section>


<section id="open_letter" class="subsection">
    <header>
        <h1>Open letter</h1>
        <p>To potential sponsors</p>
    </header>

    <section id="open_letter" class="subsection_body">
        <h1>Dear potential sponsor,</h1>

        <p>
            We would love to secure your sponsorship for DjangoCon Europe 2011:
            <em>the</em> annual European conference on the Django web
            framework, taking place this year in Amsterdam, the Netherlands.
        </p>

        <p>
            Django is Open Source software, like Linux, that allows software
            engineers to rapidly develop websites quickly and easily.  Using
            Django allows for smaller teams to get better work done in less
            time.
        </p>

        <h1>The conference</h1>
        <p>
            The conference will be held from <em>Monday June 6<sup>th</sup></em>
            until <em>Friday June 10<sup>th</sup></em> 2011. Three days will be used
            for keynotes, presentations and panel discussions at “Pakhuis de
            Zwijger”.
        </p>
        <p>
            The final two days are organized at “De Waag”. These days will
            consist of development sprints, where the community comes together
            to improve Django itself. The sprint venue will be open non-stop
            for 48 hours; these marathon sessions are incredibly valuable as
            they bring the usually far-flung development community to one place
            for discussion and collaboration.
        </p>

        <h1>Sponsoring</h1>
        <p>
            DjangoCon attracts several hundred smart software engineers
            from across the globe, both in person and via streaming video.
            Support the conference and gain a place in their hearts and minds.
        </p>

        <h1>Contact</h1>
        <p>
            If you are interested in sponsoring DjangoCon Europe
            please don’t hesitate to contact us at
            <a href="emailto:sponsors@djangocon.eu">sponsors@djangocon.eu</a>.
        </p>
    </section>
</section>

{% endblock content %}
