{% extends "standard_layout.html" %}

{% block subtitle %} &mdash; Tickets{% endblock subtitle %}

{% block extra_content %}id="tickets"{% endblock extra_content %}

{% block content %}

<header>
    <h1>Sponsors</h1>
</header>

<section id="sponsoring" class="subsection">
    <header>
        <h1>We want you!</h1>
        <p>And the people you know</p>
    </header>

    <section id="open_letter" class="subsection_body">
        <h1>Organising a conference is expensive!</h1>

        <p>
            There we said it. But its true. A community conference like this
            needs companies that want to support the conference and make
            it a truly great happening
        </p>
        <p>
            Downbelow w've written an open letter to possible sponsors. Please:
            if you work at, or know of, a company that is using Django or wants to
            reach out to the greater Django community, show the open letter to
            the person responsible within your company for sponsoring and have
            him get in touch through e-mail:

            <a href="emailto:sponsors@djangocon.eu">sponsors@djangocon.eu</a>.
        </p>
    </section>
</section>


<section id="open_letter" class="subsection">
    <header>
        <h1>Open letter</h1>
        <p>To those interested in becoming a sponsor</p>
    </header>

    <section id="open_letter" class="subsection_body">
        <h1>Dear possible sponsor,</h1>

        <p>
            We are writing you because we hope we can interest you in
            becoming a sponsor for DjangoCon Europe 2011: <em>the</em> annual European
            conference on the Django Webframework. Organised this year in
            Amsterdam, the Netherlands.
        </p>

        <p>
            Django is Open Source software, like Linux, that allows software
            engineers to rapidly develop websites easily and without hassles.
            Using Django allows for smaller teams to get better work done in less time.
        </p>

        <h1>The conference</h1>
        <p>
            The conference will be held from <em>Monday June 6th</em> until
            <em>Friday June 10th</em>. Three days will be used for keynotes,
            presentations and panel discussions at “Pakhuis de Zwijger”.
        </p>
        <p>
            The last two days are organized at “De Waag”. These days will be
            used to improve the Django software itself. “De Waag” will be open
            for 48 hours non-stop, so teams can work aroud the clock.
        </p>

        <h1>Sponsoring</h1>
        <p>
            DjangoCon attracts several hundreds of smart software engineers
            from across the globe, both in person and via streaming video.
            Support the conference and gain a place in their hearts and minds.
        </p>

        <h1>Contact</h1>
        <p>
            If you are interested in sponsoring DjangoCon Europe
            please  don’t hesitate to contact us at
            <a href="emailto:sponsors@djangocon.eu">sponsors@djangocon.eu</a>.
        </p>
    </section>
</section>

{% endblock content %}