{% extends "standard_layout.html" %}

{% block subtitle %} &mdash; Venues{% endblock subtitle %}

{% block extra_content %}id="venues"{% endblock extra_content %}

{% block content %}

<header>
    <h1>DjangoCon Venues</h1>
</header>

<section id="conference_venue" class="subsection">
    <header>
        <h1>Conference Venue</h1>
        <p>An inspiring view over the old docks of Amsterdam</p>
        <p>Conference dates: 6<sup>th</sup>&ndash;8<sup>th</sup> of June</p>
    </header>

    <section id="conference_venue_info" class="subsection_body">
        <h1>Pakhuis de Zwijger</h1>

        <div class="venue_map">
            {% with "Pakhuis de Zwijger, Piet Heinkade 179, 1019 HC Amsterdam"|urlencode as venue_address %}
            <a href="http://maps.google.com/maps?q={{venue_address}}">
                <img width="584" height="100" src="http://maps.google.com/maps/api/staticmap?center={{venue_address}}&size=584x100&sensor=false&markers={{venue_address}}&zoom=15">
            </a>
            {% endwith %}
        </div>
        <div class="venue_photos">
            <img src="{{ STATIC_URL }}img/venues/pakhuis-de-zwijger-front.jpg" alt="Pakhuis de Zwijger from the outside" width="290"/>
            <img src="{{ STATIC_URL }}img/venues/pakhuis-de-zwijger-inside.jpg" alt="Pakhuis de Zwijger on the inside" width="290"/>
        </div>
        <p>
            The conference location is an old warehouse, part of the old
            eastern docks of the port of Amsterdam. The old docks are no longer
            in service; the modern port of Amsterdam relocated to the outskirts
            of the city and has become heavily industrialized.
        </p>
        <p>
            The area is characterized by an amazing set of warehouses and old
            machinery. The venue commands expansive views of the river,
            providing attendees with a lovely backdrop for digesting the
            conference and socializing with the other attendees.
        </p>
        <p>
            Address:
            <address>
                Piet Heinkade 179<br/>
                1019 HC Amsterdam
            </address>
        </p>
    </section>
</section>
<section id="sprint_venue" class="subsection">
    <header>
        <h1>Sprint venue</h1>
        <p>Non-stop? Yessir!</p>
        <p>Sprint dates: 9<sup>th</sup> &amp; 10<sup>th</sup> of June</p>
    </header>

    <section id="sprint_venue_info" class="subsection_body">
        <h1>de Waag</h1>
        <div class="venue_map">
            {% with "Nieuwmarkt 4, 1012 CR Amsterdam"|urlencode as venue_address %}
            <a href="http://maps.google.com/maps?q={{venue_address}}">
                <img width="584" height="100" src="http://maps.google.com/maps/api/staticmap?center={{venue_address}}&size=584x100&sensor=false&markers={{venue_address}}&zoom=15">
            </a>
            {% endwith %}
        </div>
        <div class="venue_photos">
            <img src="{{ STATIC_URL }}img/venues/de-waag-front.jpg" alt="de Waag from the outside" width="290"/>
            <img src="{{ STATIC_URL }}img/venues/de-waag-inside.jpg" alt="de Waag on the inside" width="290"/>
        </div>
        <p>
            The sprints will take place in <em>De Waag</em>&mdash;a unique
            castle located in the heart of Amsterdam. The castle served as
            a weighing house and is notable for housing the Amsterdam Guild of
            Surgeons during the 17<sup>th</sup> century.  It is the subject of
            a painting by Rembrandt; <em>The Anatomy Lesson of Dr. Nicolaes Tulp.</em>
        </p>
        <p>
            The location is infamous for being the first to allow (paying)
            visitors watch surgeons dissect dead human bodies. All in the name
            of science!
        </p>
        <p>
            Address:
            <address>
            Nieuwmarkt 4<br/>
            1012 CR Amsterdam
            </address>
        </p>

        <h1>The sprints</h1>
        <p>
            The sprint location will be open for two days non stop, allowing us
            to sprint until we drop. When that happens, we'll have field beds
            on hand so you can sleep on location. If you prefer the calm of
            your hotel, the sprint venue is located in close proximity to all
            three conference hotels.
        </p>
        <p>
            We will do everything we can to make sure the sprints will be as fun
            and productive as possible for <em>all</em> participants. This includes:

            <ul>
                <li>
                    Running up to the the conference we'll coordinate with
                    the Core Developers to make sure we have useful and doable
                    tasks to tackle.
                </li>
                <li>
                    At least one of the talks on the main conference days will be
                    dealing with contributing to Django in general and the sprint
                    in particular.
                </li>
                <li>
                    For those who are not familiar with sprints: we'll make sure to
                    ease you into the experience on the actual sprint days.
                </li>
            </ul>
        </p>
    </section>
</section>

{% endblock content %}


