/* Less Framework 4
 * http://lessframework.com
 * by Joni Korpi
 * License: http://creativecommons.org/licenses/MIT/ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {
  border: 0;
}

.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

.huge, h1, .content > header > h1 {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

.large, h2, .subsection > header h1 {
  font-size: 42px;
  line-height: 48px;
}

.bigger, h3, .hotel h1 {
  font-size: 26px;
  line-height: 36px;
}

.big, h4 {
  font-size: 22px;
  line-height: 30px;
}

body {
  font: 16px/24px Georgia, serif;
}

.small, small {
  font-size: 13px;
  line-height: 18px;
}

body {
  background: transparent;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #ffff9e;
}

::-moz-selection {
  background: #ffff9e;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #ffff9e;
}

html {
  height: 100%;
  width: 100%;
  background: #b32017 url(../img/bg_tiling.png) repeat left top;
  background: url(../img/bg.png) repeat-x left top, #b32017 url(../img/bg_tiling.png) repeat left top;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
  font-weight: 500;
  font-weight: 500;
}

.amp {
  font-family: Baskerville, Constantia, "Palatino Linotype", serif;
  font-style: italic;
}

/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */
/*
#{$less-grid-element} {
    @include grid(10);
    margin: 0 auto;
}
*/
#main_nav {
  width: 100%;
  height: 48px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  background-color: #620000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
#main_nav ul {
  width: 896px;
  padding: 72px 48px 84px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 48px;
  list-style-type: none;
}
#main_nav ul li {
  display: block-inline;
  float: left;
  height: 48px;
  font-family: "ronnia-condensed-1","ronnia-condensed-2";
  font-weight: 300;
  font-weight: 300;
  font-size: 16px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#main_nav ul li.right {
  float: right;
}
#main_nav ul li #home {
  font-weight: 700;
}
#main_nav ul li #twitter {
  width: 30px;
  text-indent: -9999px;
  background-image: url(../img/twitter.png);
  background-position: center;
  background-repeat: no-repeat;
}
#main_nav ul li a {
  display: block;
  height: 48px;
  color: #f5e6d2;
  margin: 0;
  padding: 0 0.75em;
  text-decoration: none;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
#main_nav ul li a:hover {
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.65);
}

#masthead {
  width: 896px;
  padding: 72px 48px 84px;
  margin: 48px auto 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  *zoom: 1;
  height: 312px;
  background: transparent url(../img/masthead_10col_left_gradient.png) no-repeat center top;
}
#masthead h1 {
  display: none;
}
#masthead h2, #masthead h3 {
  padding-left: 344px;
}
#masthead h2 {
  padding-top: 105px;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
  font-weight: 500;
  font-weight: 500;
  color: #f5e6d2;
  text-shadow: 0 3px 0 #7e0008;
}
#masthead h2 sup {
  font-size: 0.35em;
  text-shadow: 0 2px 0 #7e0008;
}
#masthead h2 em {
  font-style: normal;
  color: white;
  text-shadow: 0 4px 0 #7e0008;
  font-size: 1.3em;
}
#masthead h3 {
  font-size: 18px;
  font-family: "ronnia-condensed-1","ronnia-condensed-2";
  font-weight: 300;
  font-weight: 300;
  font-style: normal;
  color: #4b0005;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
#masthead h3 em {
  font-style: normal;
  font-weight: 700;
}
#masthead h3 sup {
  font-size: 0.7em;
}

.content {
  width: 896px;
  padding: 72px 48px 84px;
  padding-top: 24px;
  margin: 0 auto;
}
.content > header > h1 {
  width: 896px;
  font-family: "ronnia-condensed-1","ronnia-condensed-2";
  font-weight: 300;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f5e6d2;
  text-shadow: 0 2px 0 #7e0008;
}

.subsection {
  width: 896px;
  margin-top: 48px;
  overflow: hidden;
  *zoom: 1;
}
.subsection > header {
  width: 344px;
  margin-right: 24px;
  float: left;
}
.subsection > header h1 {
  margin-bottom: 0.5em;
  color: #f5e6d2;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
  font-weight: 500;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0;
}
.subsection .subsection_body {
  width: 528px;
  float: left;
}

#nav_hotels {
  display: block;
  margin-top: 1em;
}

a#next_hotel, a#prev_hotel {
  position: relative;
  background-color: #7e0008;
  color: #f5e6d2;
  font-size: 1.25em;
  padding: 0.4em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 300;
  font-family: "ronnia-condensed-1","ronnia-condensed-2";
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
a#next_hotel:hover, a#prev_hotel:hover {
  color: white;
  background-color: #880009;
  top: -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}
a#next_hotel:active, a#prev_hotel:active {
  color: white;
  background-color: #880009;
  top: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.hotel {
  background-color: #f5e6d2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid white;
  padding: 10px;
  width: 506px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}
.hotel h1 {
  font-family: "ronnia-condensed-1","ronnia-condensed-2";
  font-weight: 300;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 0;
}
.hotel h2 {
  font-size: 20px;
  line-height: 24px;
  color: #7e0008;
}
.hotel h3 {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0;
  color: #777;
}
.hotel .hotelmap {
  margin-bottom: 18px;
}
.hotel .hotelmap a {
  display: block;
  width: 500px;
  height: 100px;
  border: 3px solid white;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.hotel .hotelmap a:hover {
  border-color: #ffff9e;
}
.hotel table {
  margin: 20px 0;
}
.hotel table caption {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  font-style: italic;
  text-align: left;
}
.hotel table th, .hotel table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.hotel table th {
  font-family: "ronnia-condensed-1","ronnia-condensed-2";
  font-weight: 300;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  width: 150px;
}

/* Tablet Layout: 768px.
 * Gutters: 24px.
 * Outer margins: 28px.
 * Inherits styles from: Default Layout.  */
/* Mobile Layout: 320px.
 * Gutters: 24px.
 * Outer margins: 34px.
 * Inherits styles from: Default Layout.  */
/* Wide Mobile Layout: 480px.
 * Gutters: 24px.
 * Outer margins: 22px.
 * Inherits styles from: Default Layout, Mobile Layout.  */
/* Retina media query.
   Overrides styles for devices with a
   device-pixel-ratio of 2+, such as iPhone 4.  */
