{% extends "empty_base.html" %}

{% block body %}
<header>
    <h1>We have received your reservation!</h1>

    <p>
        <strong>You will receive a written confirmation by e-mail within 48 hours.</strong> If you have any questions regarding your reservation please contact:
    </p>

    <p>
        +31 299 65 65 27 / laura@preferredhotelreservations.nl<br/>
        Open from Monday - Friday, from 9am until 5pm.

        <em>Note: the Dutch Django Association is not responsible for hotel reservations, as such we can not answer any questions about your reservation.</em>
    </p>
</header>
{% endblock body %}