{% extends "standard_layout.html" %}

{% block extra_js %}
<script src="{{STATIC_URL}}js/jquery.cycle.all.min.js"></script>
<script>
    $(document).ready(function() {
        $("#hotelcycle").cycle({
            fx: 'scrollHorz',
            timeout: 0,
            prev: '#prev_hotel',
            next: '#next_hotel',
            pagerAnchorBuilder: pagerFactory,
            speed: 500
        });

        var pagerFactory = function(idx, slide) {
            return '<li'+idx+'><a href="#">'+(idx+1)+'</a></li>';
        }
    });
</script>
{% endblock extra_js %}

{% block subtitle %} &mdash; Hotels{% endblock subtitle %}

{% block extra_content %}id="hotels"{% endblock extra_content %}

{% block content %}

<header>
    <h1>Hotel Reservations</h1>
</header>

<section id="hotels" class="subsection">
    <header>
        <h1>Choices</h1>
        <p><a href="http://www.preferredhotelreservations.nl/?l=en">Preferred Hotel Reservations</a> is providing room booking services for the conference. Special rates and conditions are available for delegates at the following hotels in the city centre of Amsterdam.</p>
        <nav id="nav_hotels">
            <a href="#" id="prev_hotel">&larr; previous</a>
            <a href="#" id="next_hotel">next &rarr;</a>
        </nav>
    </header>
    <div id="hotelcycle" class="subsection_body">
        {% for hotel in hotels %}
        <section class="hotel">
            <header>
                <hgroup>
                <h1>{{ hotel.name }}</h1>
                <h2>{{ hotel.get_nrofstars_display }}</h2>
                <h3>{{ hotel.get_address_display }}</h3>
                </hgroup>
            </header>
            <div class="hotelmap">
                {% with hotel.get_address_display|urlencode as hoteladdr %}
                <a href="http://maps.google.com/maps?q={{hoteladdr}}">
                    <img width="500" height="100" src="http://maps.google.com/maps/api/staticmap?center={{hoteladdr}}&size=500x100&sensor=false&markers={{hoteladdr}}&zoom=15">
                </a>
                {% endwith %}
            </div>
            <p>{{ hotel.description }}</p>
            <table>
                <caption>All rates are per room, per night.</caption>
                <tr>
                    <th>Single room rate</th>
                    <td>&euro; {{ hotel.rate_single }}</td>
                </tr>
                <tr>
                    <th>Double room rate</th>
                    <td>&euro; {{ hotel.rate_double }}</td>
                </tr>
                <tr>
                    <th>Breakfast</th>
                    <td>{{ hotel.breakfast }}</td>
                </tr>
                <tr>
                    <th>Municipal tax</th>
                    <td>{{ hotel.city_tax }}%</td>
                </tr>
                <tr>
                    <th>WiFi</th>
                    <td>{{ hotel.wifi }}</td>
                </tr>
                <tr>
                    <th>Cancellation Policy</th>
                    <td>{{ hotel.cancellation_policy }}</td>
                </tr>
                <tr>
                    <th>Offer Valid Through</th>
                    <td>{{ hotel.date_available }}</td>
                </tr>
            </table>
        </section>
        {% endfor %}
    </div>
    </section>

<section class="subsection">
    <header>
        <h1>Book a Room</h1>
        <p>Use the form to book a room with at one of the partner hotels. You will be contacted by Preferred Hotel Reservations within 48 hours to collect billing details.</p>
    </header>
    <form id="reservation" class="subsection_body" action="." method="post" accept-charset="utf-8">
        {% for field in reservation_form %}
        <div class="formrow {% if field.errors %}error{% endif %}">
            {% if field.required %}
                <div class="required">{{ field.label_tag }}</div>
            {% else %}
                {{ field.label_tag }}
            {% endif %}
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <input id="submit" type="submit" value="send" />
        <div id="feedback"></div>
    </form>
</section>
<footer>
    <p>For more than a decade Preferred is a leading intermediary in hotel reservations for the corporate market. Preferred offers independent hotel consultancy which meets the travelers requirements best. Preferred is specialised in making hotel reservations for the business traveller in both The Netherlands as well as worldwide.</p>

    <p>If you require more information or advise in arranging your hotel accommodation please contact Preferred Hotel Reservations.</p>

    <p>
        +31 299 65 65 27 / laura@preferredhotelreservations.nl<br/>
        Open from Monday - Friday, from 9am until 5pm.
    </p>
</footer>
{% endblock content %}
