{% extends "standard_layout.html" %}

{% block extra_js %}
<script src="{{STATIC_URL}}js/jquery.cycle.all.min.js"></script>
<script>
    $(document).ready(function() {
        $("#hotelcycle").cycle({
            fx: 'scrollHorz',
            timeout: 0,
            prev: '#prev_hotel',
            next: '#next_hotel',
            pagerAnchorBuilder: pagerFactory,
            speed: 500,
            height: 750

        });

        var pagerFactory = function(idx, slide) {
            return '<li'+idx+'><a href="#">'+(idx+1)+'</a></li>';
        }
    });
</script>
{% endblock extra_js %}

{% block subtitle %} &mdash; Hotels{% endblock subtitle %}

{% block extra_content %}id="hotels"{% endblock extra_content %}

{% block content %}

<header>
    <h1>Hotel Reservations</h1>
</header>

<section id="hotels" class="subsection">
    <header>
        <h1>Choices</h1>
        <p><a href="http://www.preferredhotelreservations.nl/?l=en">Preferred Hotel Reservations</a> is providing room booking services for the conference. Special rates and conditions are available for delegates at the following hotels in the city centre of Amsterdam.</p>
        <nav id="nav_hotels">
            <a href="#" id="prev_hotel">&larr; previous</a>
            <a href="#" id="next_hotel">next &rarr;</a>
        </nav>
    </header>
    <div id="hotelcycle" class="subsection_body">
        {% for hotel in hotels %}
        <section class="hotel">
            <header>
                <hgroup>
                <h1>{{ hotel.name }}</h1>
                <h2>{{ hotel.get_nrofstars_display }}</h2>
                <h3>{{ hotel.get_address_display }}</h3>
                </hgroup>
            </header>
            <div class="hotelmap">
                {% with hotel.get_address_display|urlencode as hoteladdr %}
                <a href="http://maps.google.com/maps?q={{hoteladdr}}">
                    <img width="584" height="100" src="http://maps.google.com/maps/api/staticmap?center={{hoteladdr}}&size=584x100&sensor=false&markers={{hoteladdr}}&zoom=15">
                </a>
                {% endwith %}
            </div>
            <p>{{ hotel.description }}</p>
            <table>
                <caption>All rates are per room, per night.</caption>
                <tr>
                    <th>Single room rate</th>
                    <td>&euro; {{ hotel.rate_single }}</td>
                </tr>
                <tr>
                    <th>Double room rate</th>
                    <td>&euro; {{ hotel.rate_double }}</td>
                </tr>
                <tr>
                    <th>Breakfast</th>
                    <td>{{ hotel.breakfast }}</td>
                </tr>
                <tr>
                    <th>Municipal tax</th>
                    <td>{{ hotel.city_tax }}%</td>
                </tr>
                <tr>
                    <th>WiFi</th>
                    <td>{{ hotel.wifi }}</td>
                </tr>
                <tr>
                    <th>Cancellation Policy</th>
                    <td>{{ hotel.cancellation_policy }}</td>
                </tr>
                <tr>
                    <th>Offer Valid Through</th>
                    <td>{{ hotel.date_available }}</td>
                </tr>
            </table>
        </section>
        {% endfor %}
    </div>
    </section>

<section class="subsection">
    <header>
        <h1>Book a Room</h1>
        <p>For when you've finished deliberating.</p>
    </header>
    <section class="subsection_body">
        <h1>Send me a postcard, fill in a form</h1>
        <p>
            To make a reservation please download the <a
                href="{{ STATIC_URL }}downloads/djangocon-europe-2011-hotel-reservation-form.pdf">reservation
                form</a> and send it by fax or e-mail to Mrs. Laura Peters, our
            contact at Preferred Hotel Reservations. If you have any additional
            questions you can call or email her—remember to reference
            “DjangoCon” when doing so!
        </p>
        <h1>Booking Contact</h1>
        <p>
            <strong>Mrs. Laura Peters</strong><br/>
            <em>Tel:</em> +31 299 65 65 27<br/>
            <em>Fax:</em> +31 299 65 54 94<br/>
            <em>Email:</em> laura@preferredhotelreservations.nl<br/>
            Open from Monday - Friday, from 9am until 5pm.
        </p>
    </section>
</section>

<section class="subsection">
    <header>
        <h1>Room sharing</h1>
        <p>Being social is good for your wallet</p>
    </header>
    <section class="subsection_body">
        <h1>Looking for roomsharing partners?</h1>
        <p>
            Sharing a room is a great way to save on hotel costs. We've set up
            a <a href="https://convore.com/djangocon-europe-2011/room-sharing">convore topic</a>
            which you can use to advertise your arrival/departure dates and 
            find a roommate for the conference.
        </p>
    </section>
</section>
{% endblock content %}
