/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */

/*
#{$less-grid-element} {
    @include grid(10);
    margin: 0 auto;
}
*/

#main_nav {
    width: 100%;
    height: 48px;
    padding: 0;
    margin: 0 0 24px 0;
    background-color: #620000;
    background-color: rgba(0,0,0,0.5);
    #main_nav_wrap {
        @include column(10, true);
        margin: 0 auto;
        height: 48px;
    }
    ul {
        margin: 0;
        padding: 0;
        height: 48px;
        list-style-type: none;
        text-align: right;
        float: right;
        li {
            display: block-inline;
            float: left;
            height: 48px;
            @include sans-family;
            font-weight: $sans-normal;
            font-size: 16px;
            line-height: 48px;
            text-transform: uppercase;
            letter-spacing: 1px;
            a {
                display: block;
                height: 48px;
                color: $cream-color;
                margin: 0;
                padding: 0 0.75em;
                text-decoration: none;
                @include transition;
                &:hover {
                    color: white;
                    background: black;
                    background: rgba(0,0,0,0.35);
                }
            }
        }
    }
}

#masthead {
    @include grid(10);
    margin: 0 auto;
    padding-top: 0;
    @include clearfix;
    h1 {
        @include column(4);
        float: left;
        //width: 344px;
        height: 379px;
        text-indent: -9999px;
        background-image: url(../img/masthead_4col.png);
    }
    #masthead_right {
        @include column(6, true);
        float: left;
    }
    h2 {
        @include serif-family;
        font-weight: $serif-normal;
        color: $cream-color;
        text-shadow: 0 3px 0 $dark-color;
        sup {
            font-size: 0.5em;
        }
    }
    h3 {
        @extend .big;
        @include serif-family;
        font-weight: $serif-normal;
        font-style: italic;
        
        sup {
            font-size: 0.5em;
        }
    }
}





