/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */

/*
#{$less-grid-element} {
    @include grid(10);
    margin: 0 auto;
}
*/

#main_nav {
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: #620000;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
    ul {
        @include grid(10);
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        height: 48px;
        list-style-type: none;
        li {
            display: block-inline;
            float: left;
            height: 48px;
            @include sans-family;
            font-weight: $sans-normal;
            font-size: 16px;
            line-height: 48px;
            text-transform: uppercase;
            letter-spacing: 1px;
            &.right {
                float: right;
            }
            #home {
                font-weight: $sans-bold;
            }
            #twitter {
                width: 30px;
                text-indent: -9999px;
                background-image: url(../img/twitter.png);
                background-position: center;
                background-repeat: no-repeat;
            }
            a {
                display: block;
                height: 48px;
                color: $cream-color;
                margin: 0;
                padding: 0 0.75em;
                text-decoration: none;
                @include transition;
                &:hover {
                    color: white;
                    background: black;
                    background: rgba(0,0,0,0.65);
                }
            }
        }
    }
}

#masthead {
    @include grid(10);
    margin: 48px auto 0;
    padding-top: 0;
    padding-bottom: 0;
    @include clearfix;
    height: 312px;
    background: transparent url(../img/masthead_10col_left_gradient.png) no-repeat center top;
    h1 {
        display: none;
    }
    h2,h3 {
        padding-left: 344px;
    }
    h2 {
        padding-top: 105px;
        @include serif-family;
        font-weight: $serif-normal;
        color: $cream-color;
        text-shadow: 0 3px 0 $dark-color;
        sup {
            font-size: 0.35em;
            text-shadow: 0 2px 0 $dark-color;
        }
        em {
            font-style: normal;
            color: white;
            text-shadow: 0 4px 0 $dark-color;
            font-size: 1.3em;
        }
    }
    h3 {
        font-size: 18px;
        @include sans-family;
        font-weight: $sans-normal;
        font-style: normal;
        color: darken($dark-color, 10%);
        text-shadow: 0 1px 0 rgba(255,255,255,0.1);
        em {
            //color: darken($dark-color, 20%);
            font-style: normal;
            font-weight: $sans-bold;
        }
        sup {
            font-size: 0.7em;
        }
    }
}

.content {
    @include grid(10);
    padding-top: 24px;
    margin: 0 auto;
    &>header>h1 {
        @include column(10, true);
        @include sans-family;
        font-weight: $sans-normal;
        text-transform: uppercase;
        @extend .huge;
        letter-spacing: 1px;
        color: $cream-color;
        text-shadow: 0 2px 0 $dark-color;
    }
    
}

.subsection {
    @include column(10, true);
    margin-top: 48px;
    @include clearfix;
    &>header {
        @include column(4);
        float: left;
        h1 {
            @extend .large;
            margin-bottom: 0.5em;
            color: $cream-color;
            @include serif-family;
            font-weight: $serif-normal;
            font-style: italic;
            letter-spacing: 0;
        }
    }
    .subsection_body {
        @include column(6, true);
        float: left;
    }
}

#nav_hotels {
    display: block;
    margin-top: 1em;
}

a#next_hotel, a#prev_hotel {
    position: relative;
    background-color: $dark-color;
    color: $cream-color;
    font-size: 1.25em;
    padding: 0.4em;
    @include border-radius(3px);
    text-decoration: none;
    font-weight: $sans-normal;
    @include sans-family;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    &:hover {
        color: white;
        background-color: lighten($dark-color, 2%);
        top: -1px;
        @include box-shadow(rgba(0,0,0,0.5) 0 1px 0);
    }
    &:active {
        color: white;
        background-color: lighten($dark-color, 2%);
        top: 0;
        @include box-shadow(none);
    }
}

.hotel {
    background-color: $cream-color;
    @include border-radius(8px);
    border: 1px solid white;
    padding: 10px;
    width: 506px;
    @include box-shadow(rgba(0,0,0,0.5) 0 1px 0);
    
    h1 {
        @extend .bigger;
        @include sans-family;
        font-weight: $sans-bold;
        text-transform: uppercase;
        color: #222;
        letter-spacing: 0;
    }
    
    h2 {
        font-size: 20px;
        line-height: 24px;
        color: $dark-color;

    }
        
    h3 {
        font-size: 16px;
        font-weight: $serif-normal;
        font-style: italic;
        letter-spacing: 0;
        //color: desaturate(lighten($dark-color, 10%), 30%);
        color: #777;
    }

    .hotelmap {
        margin-bottom: 18px;
        a {
            display: block;
            width: 500px;
            height: 100px;
            border: 3px solid white;
            @include transition;
            &:hover {
                border-color: $gold-color;
            }
        }
    }

    table {
        margin: 20px 0;
        caption {
            color: rgba(0,0,0,0.4);
            font-size: 12px;
            font-style: italic;
            text-align: left;
        }
        th,td {
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
        th {
            @include sans-family;
            font-size: 14px;
            font-weight: $sans-normal;
            text-transform: uppercase;
            width: 150px;
        }
    }
}
