/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */

/*
#{$less-grid-element} {
    @include grid(10);
    margin: 0 auto;
}
*/

#main_nav {
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: #620000;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
    ul {
        @include grid(10);
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        height: 48px;
        list-style-type: none;
        li {
            display: block-inline;
            float: left;
            height: 48px;
            @include sans-family;
            font-weight: $sans-normal;
            font-size: 16px;
            line-height: 48px;
            text-transform: uppercase;
            letter-spacing: 1px;
            &.right {
                float: right;
            }
            #home {
                font-weight: $sans-bold;
            }
            #twitter {
                width: 30px;
                text-indent: -9999px;
                background-image: url(../img/twitter.png);
                background-position: center;
                background-repeat: no-repeat;
            }
            a {
                display: block;
                height: 48px;
                color: $cream-color;
                margin: 0;
                padding: 0 0.75em;
                text-decoration: none;
                @include transition;
                &:hover {
                    color: white;
                    background: black;
                    background: rgba(0,0,0,0.65);
                }
            }
        }
    }
}

#masthead {
    @include grid(10);
    margin: 48px auto 0;
    padding-top: 0;
    padding-bottom: 0;
    @include clearfix;
    height: 312px;
    background: transparent url(../img/masthead_10col_left_gradient.png) no-repeat center top;
    h1 {
        display: none;
    }
    h2,h3 {
        padding-left: 344px;
    }
    h2 {
        padding-top: 105px;
        @include serif-family;
        font-weight: $serif-normal;
        color: $cream-color;
        text-shadow: 0 3px 0 $dark-color;
        sup {
            font-size: 0.35em;
            text-shadow: 0 2px 0 $dark-color;
        }
        em {
            font-style: normal;
            color: white;
            text-shadow: 0 4px 0 $dark-color;
            font-size: 1.3em;
        }
    }
    h3 {
        font-size: 18px;
        @include sans-family;
        font-weight: $sans-normal;
        font-style: normal;
        color: darken($dark-color, 10%);
        text-shadow: 0 1px 0 rgba(255,255,255,0.1);
        em {
            //color: darken($dark-color, 20%);
            font-style: normal;
            font-weight: $sans-bold;
        }
        sup {
            font-size: 0.7em;
        }
    }
}

.content {
    @include grid(10);
    padding-top: 24px;
    margin: 0 auto;
    &>header>h1 {
        @include column(10, true);
        @include sans-family;
        font-weight: $sans-normal;
        text-transform: uppercase;
        @extend .huge;
        letter-spacing: 1px;
        color: $cream-color;
        text-shadow: 0 2px 0 $dark-color;
    }
    
}

.subsection {
    @include column(10, true);
    margin-top: 48px;
    @include clearfix;
    &>header {
        @include column(3);
        float: left;
        h1 {
            @extend .bigger;
            margin-bottom: 24px;
            color: $cream-color;
            @include serif-family;
            font-weight: $serif-normal;
            font-style: italic;
            letter-spacing: 0;
        }
        p,li {
            color: $cream-color;
            font-size: 16px;
            @include sans-family;
            font-weight: $sans-normal;
            text-transform: uppercase;
        }
        ol {
            list-style: decimal inside;
            
        }
        ul {
            list-style: disc inside;
        }
        a {
            display: inline-block;
            color: $cream-color;
            background-color: $dark-color;
            text-decoration: none;
            padding: 1px 4px;
            position: relative;
            @include border-radius(3px);
            text-shadow: 0 1px 0 rgba(0,0,0,0.3);
            &:hover {
                color: white;
                background-color: lighten($dark-color, 2%);
                top: -1px;
                @include box-shadow(rgba(0,0,0,0.5) 0 1px 0);
            }
            &:active {
                color: white;
                background-color: lighten($dark-color, 2%);
                top: 0;
                @include box-shadow(none);
            }

        }
    }
    .subsection_body {
        //@include column(7, true);
        width: 590px;
        padding: 10px 15px;
        float: left;
        margin-top: 60px;
        background-color: $cream-color;
        @include border-radius(4px);
        h1 {
            @include sans-family;
            font-weight: $sans-bold;
            @extend .bigger;
            color: $dark-color;
            text-transform: uppercase;
            letter-spacing: 0;
            margin-top: 32px;
            margin-bottom: 8px;
            &:first-child {
                margin-top: 0;
            }
        }
        h2 {
            @extend .big;
            @include serif-family;
            font-weight: $serif-normal;
            color: $dark-color;
            margin-bottom: 8px;
            //font-style: italic;
        }
        p, ul, li {
            margin-bottom: 1.0em;
        }
        a {
            color: $dark-color;
            @include transition;
            &:hover {
                color: $base-color
            }
        }
        ul {
            list-style-position: inside;
        }
        input[type=text], textarea {
            width: 568px;
        }
        button {
            width: 100%;
        }
    }
}

form {
    .formrow {
        margin-bottom: 36px;
    }
    .formrow>label, .formrow>.required>label {
        @include sans-family;
        font-weight: $sans-normal;
        color: #333;
        font-size: 20px;
        letter-spacing: 0;
        display: block;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .formrow>.required {
        display: block;
        @include clearfix;

        &>label {
            float: left;
        }
        em {
            display: block;
            float: left;
            @include sans-family;
            font-weight: $sans-normal;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 4px;
            margin: 1px 0 0 15px;
            color: $cream-color;
            font-style: normal;
            background-color: $base-color;
            line-height: 1em;
            //text-shadow: 0 1px 0 rgba(0,0,0,0.3);
            @include box-shadow(rgba(0,0,0,0.5) 0 1px 0);
            @include border-radius(2px);
        }
    }
    .formrow.error {
        &>label, &>.required>label {
            font-weight: $sans-bold;
            color: $dark-color;
        }
    }
    .errorlist {
        color: $dark-color;
    }
    input[type=text], textarea {
        @include serif-family;
        font-size: 18px;
        line-height: 24px;
        padding: 5px;
        border: 6px solid $tan-color;
        background-color: white;
        &:focus {
            background-color: white;
        }
    }
    p.help {
        color: desaturate(darken($tan-color, 30%), 20%);
        font-style: italic;
        margin-bottom: 0 !important;
    }
}

#nav_hotels {
    display: block;
    margin-top: 1em;
}

a#next_hotel, a#prev_hotel {
    position: relative;
    background-color: $dark-color;
    color: $cream-color;
    font-size: 1.25em;
    padding: 0.4em;
    @include border-radius(3px);
    text-decoration: none;
    font-weight: $sans-normal;
    @include sans-family;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    &:hover {
        color: white;
        background-color: lighten($dark-color, 2%);
        top: -1px;
        @include box-shadow(rgba(0,0,0,0.5) 0 1px 0);
    }
    &:active {
        color: white;
        background-color: lighten($dark-color, 2%);
        top: 0;
        @include box-shadow(none);
    }
}

.hotel {
    padding: 10px 15px;
    h1 {
        @extend .bigger;
        @include sans-family;
        font-weight: $sans-bold;
        text-transform: uppercase;
        color: #222;
        letter-spacing: 0;
    }
    h2 {
        font-size: 20px;
        line-height: 24px;
        color: $dark-color;
    }
    h3 {
        font-size: 16px;
        font-weight: $serif-normal;
        font-style: italic;
        letter-spacing: 0;
        color: #777;
    }
    .hotelmap {
        margin-bottom: 18px;
        a {
            display: block;
            width: 584px;
            height: 100px;
            border: 3px solid white;
            @include transition;
            &:hover {
                border-color: $gold-color;
            }
        }
    }
    table {
        margin: 20px 0;
        caption {
            color: rgba(0,0,0,0.4);
            font-size: 12px;
            font-style: italic;
            text-align: left;
        }
        th,td {
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
        th {
            @include sans-family;
            font-size: 14px;
            font-weight: $sans-normal;
            text-transform: uppercase;
            width: 150px;
        }
    }
}

#reservation {
    display: block;

    input {
        width: 502px;
    }



}

#purchase_button {
    display: block;
    position: relative;
    background-color: $dark-color;
    color: $cream-color;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    width: 100%;
    @include border-radius(3px);
    text-decoration: none;
    font-weight: $sans-normal;
    @include sans-family;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    margin: 24px 0;
    @include transition-property("color, background-color");
    &:hover {
        color: white;
        background-color: lighten($dark-color, 4%);
        top: -2px;
        @include box-shadow(darken($tan-color, 20%) 0 2px 0);
    }
    &:active {
        color: white;
        background-color: lighten($dark-color, 4%);
        top: 0;
        @include box-shadow(none);
    }
}
