// Global style definitions

h1 {
    @extend .huge;
}

h2 {
    @extend .large;
}

h3 {
    @extend .bigger;
}

h4 {
    @extend .big;
}

small {
    @extend .small;
}

body {
    background: transparent;
    // Stops Mobile Safari from auto-adjusting font-sizes
    -webkit-text-size-adjust: 100%;
}

// Selection colors (easy to forget)
@include selection-color($gold-color);


html {
    height: 100%;
    width: 100%;
    background: $base-color url(../img/bg_tiling.png) repeat left top;
    background: url(../img/bg.png) repeat-x left top, $base_color url(../img/bg_tiling.png) repeat left top;
    @include serif-family;
    font-weight: $serif-normal;
}

.amp {
    font-family: Baskerville, Constantia, "Palatino Linotype", serif;
    font-style: italic;
}
