<nav id="main_nav">
    <ul>
        <li><a href="{% url core:home %}" id="nav_home">Home</a></li>
        <li><a href="{% url blog:blog %}">Blog</a></li>
        <li><a href="{% url schedule:schedule %}">Schedule</a></li>
        <li><a href="{% url talks:lightningtalk_submit %}">Lightning Talks</a></li>
        <li><a href="{% url core:tickets %}">Tickets</a></li>
        <li><a href="{% url accommodation:reserve %}">Hotels</a></li>
        <li><a href="{% url core:venues %}">Venues</a></li>
        <li><a href="{% url core:sponsors %}">Sponsors</a></li>
        <li><a href="{% url core:about %}">About</a></li>
        <li class="right"><a class="forum" href="https://convore.com/djangocon-europe-2011/" id="convore">Convore</a></li>
        <li class="right"><a class="forum" href="http://twitter.com/djangocon" id="twitter">Twitter</a></li>
    </ul>
</nav>
