{% extends 'standard_layout.html' %}

{% block subtitle %} &mdash; Sprint submission received{% endblock subtitle %}

{% block extra_content %}id="participant_thankyou"{% endblock extra_content %}

{% block content %}
<header>
    <h1>Submission received</h1>
</header>
<section id="participant_whatsnext" class="subsection">
    <section class="subsection_body">
        <h1>Glad that you will join!</h1>
        <p>
            Thanks for joining us in working on Django during the sprints at
            DjangoCon Europe 2011. We are delighted that we can count on you
            too for making Django even greater.
        </p>
    </section>
</section>
{% endblock content %}
