{% extends "base.html" %}

{% block body %}
<nav id="main_nav">
    <ul>
        <li><a href="{% url core:home %}" id="home">Home</a></li>
        <li><a href="{% url blog %}">Blog</a></li>
        <li><a href="{% url core:tickets %}">Tickets</a></li>
        <li><a href="{% url accommodation:reserve %}">Hotels</a></li>
        <li><a href="{% url talks:submit %}">Talks</a></li>
        <li><a href="location">Location</a></li>
        <li><a href="sprints">Sprints</a></li>
        <li><a href="{% url core:sponsors %}">Sponsors</a></li>
        <li><a href="about">About</a></li>
        <li class="right"><a href="http://twitter.com/djangocon" id="twitter">Twitter</a></li>
    </ul>
</nav>
<header id="masthead">
<h1><a href="{% url core:home %}">DjangoCon Europe 2011</a></h1>
<h2>June <em>6<sup>th</sup></em>, <em>7<sup>th</sup></em> <span class="amp">&amp;</span> <em>8<sup>th</sup></em> 2011</h2>
<h3>Join us in <em>Amsterdam</em> for <em>talks</em>, <em>sprints</em> and a ton of <em>fun</em>!</h3>
    <!--Sprints to follow on the 9<sup>th</sup> and 10<sup>th</sup></h3>-->
<div class="masthead_text" id="masthead_right">

</div>
</header>

<section class="content" {% block extra_content %}{% endblock extra_content %}>
{% block content %}{% endblock content %}
</section>





{% endblock body %}
