{% extends "base.html" %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#cycle").cycle({
                fx: 'scrollUp',
                speed: '500',
                cleartypeNoBg: true,
                easing: 'easeInOutQuint',

            });
        });
    </script>
{% endblock extra_js %}


{% block body %}
{% include "snippets/navigation.html" %}
<header id="masthead">
    <h1>DjangoCon Europe 2011</h1>
    <h2>Amsterdam 2011</h2>
    <div class="dateblock">
        <div class="dateinfo" id="talk_dates">
            <p>Talks <strong>&#9733;</strong> <a href="{% url core:venues %}#conference_venue">Pakhuis de Zwijger</a></p>
            <h3>June <em>6<sup>th</sup></em>, <em>7<sup>th</sup></em>, <em>8<sup>th</sup></em></h3>
        </div>
        <div class="dateinfo" id="sprint_dates">
            <p>Sprints <strong>&#9733;</strong> <a href="{% url core:venues %}#sprint_venue">De Waag</a></p>
            <h3><em>9<sup>th</sup></em> <span class="amp">&amp;</span> <em>10<sup>th</sup></em></h3>
        </div>
    </div>
    <h4>Thanks, Amsterdam—DjangoCon Europe 2011 was a blast! <br>Join us next year in Switzerland for DjangoCon Europe 2012.</h4>
</header>
<section id="sponsors">
    <h1>This conference is made possible by&hellip;</h1>
    <div id="cycle">
        {% for s in sponsors_large %}
            {% if not forloop.counter|divisibleby:"2" %}
            <div class="row">
            {% endif %}
            <div class="sponsor {{ s.get_level_display|lower }} {% if forloop.counter|divisibleby:"2" %}last{% endif %}">
                <a href="{{ s.url }}"><img src="{{ s.image.url }}" width="436" height="150"></a>
                <p>{{ s.get_level_display }}</p>
            </div>

            {% if forloop.counter|divisibleby:"2" or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
        {% for s in sponsors_small %}
            {% if forloop.counter0|divisibleby:"5" %}
            <div class="row">
            {% endif %}
            <div class="sponsor {{ s.get_level_display|lower }} {% if forloop.counter|divisibleby:"5" %}last{% endif %}">
                <a href="{{ s.url }}"><img src="{{ s.image.url }}" width="160" height="150"></a>
                <p>{{ s.get_level_display }}</p>
            </div>
            {% if forloop.counter|divisibleby:"5" or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
<section class="content" {% block extra_content %}{% endblock extra_content %}>
{% block content %}{% endblock content %}
</section>
{% include "snippets/footer.html" %}
{% endblock body %}
